/* 
Sections are devided into the same structure as HTML by deviders that are marked with ----- in front and after comment text.
Credits for copied code and code inspiraion/help will be close to such code. Please also read the Credits section in README.md
*/


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Rubik, sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    color: #2E4159;
}

h1, h2 {
    font-family: "Roboto Mono", sans-serif;
    letter-spacing: 0px;
}

a {
    text-decoration: none;
    color: #7b5284;
}

hr {
    margin: 75px auto 20px;
    border: 2px solid #7b5284;
    border-radius: 5px;
    outline: 2px solid #2E4159;
    outline-offset: 2px;
    width: 80%;
}

html {
    scroll-padding-top: 140px; /* for fixing scrolldown-problem with fixed navbar. Copied from https://css-tricks.com/fixed-headers-on-page-links-and-overlapping-content-oh-my/  */
  }

/* ----- Heading section ----- */

/* --- Navigation bar --- */

#navbar {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 90px;
    background-color: #fafafa;
    color: #2E4159;
}

#navbar > h1 {
    display: block;
    float: left;
    margin-top: 20px;
    margin-left: 50px;
    padding: 10px 20px;
    border: 3px solid #2E4159;
    border-radius: 40%;
    outline: 2px solid #7b5284; /* https://developer.mozilla.org/en-US/docs/Web/CSS/border for creating dubble borders for sites logo */
    outline-offset: -10px;
    font-size: 1.25rem;
}

#navbar > #no-border {
    border: none;
    outline: none;
    font-size: 2rem;
    margin-top: 10px;
}

#navbar > h1 > a {
    text-decoration: none;
}

nav {
    float: right;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav li {
    float: left;
    margin-top: 35px;
    margin-right: 50px;
}

nav li a {
    display: block;
    text-decoration: none;
    color: #2E4159;
    text-align: center;
}

nav li a:hover {
    border-bottom: 1px solid #2E4159;
}

#active {
    border-bottom: 1px solid #2E4159;
}

/* ----- Landing page ----- */

#background-image {
    background-image: url("../images/pexels-miriam-espacio-110854(2).webp");
    background-color: #2E4159;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#welcome-heading {
    position: absolute;
    left: 120px;
    top: 250px;
    color: #fafafa;
    background-color: #7b5284;
    opacity: .9;
    border: 2px solid #3a3a3a;
    padding: 5px;
    border-radius: 5px;
}

#support-heading {
    font-size: 1.17rem;
    font-family: "Robot Mono", sans-serif;
    position: absolute;
    left: 250px;
    top: 350px;
    color: #fafafa;
    background-color: #7b5284;
    opacity: .9;
    border: 2px solid #3a3a3a;
    padding: 5px;
    border-radius: 5px;
}

#hero-img {
    position: absolute;
    right: 10%;
    top: 450px;
    width: 265px;
    height: 180px;
    object-fit: none;
    border-radius: 40%;
    border: 2px solid #7b5284;

}

/* ----- Summary section ----- */

#summary {
    width: 100%;
    height: 520px;
    margin-top: 75px;
}


#summary div img {
    width: 150px;
    height: 150px;
    margin-right: 25px;
    object-fit: cover;
    border: 5px solid #3a3a3a;
    border-radius: 50%;
}

.center {
    display: inline-block;
    vertical-align: middle;
    max-width: 80%;
}

.round-img {
    position: relative;
}

/* code for image hover overlay is copied and modified from 
https://www.w3schools.com/css/tryit.asp?filename=trycss_css_image_overlay_opacity 
All code down to next section "VR and MR Summary" */

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.round-img:hover .image {
    opacity: 0.3;
}

.round-img:hover .middle {
    opacity: 1;
}

.text {
    background-color: #7b5284;
    color: #fafafa;
    font-size: 16px;
    padding: 8px 16px;
  }

/* --- VR and MR Summary --- */


#vr-summary, #mr-summary {
    height: 160px;
    width: 100%;
}

#vr-summary h2, #mr-summary h2 {
    margin-left: 50px;
    margin-right: 25px;
    vertical-align: middle;
    padding: 10px 20px;
    border: 3px solid #2E4159;
    border-radius: 40%;
    outline: 2px solid #7b5284;
    outline-offset: -10px;
    font-size: 1.25rem;
}

.summary-paragraph {
    max-width: 375px;
}

.summary-paragraph span {
    float: right;
    text-align: left;
}


/* --- AR summary --- */


#ar-summary {
    height: 160px;
    width: 100%;
    text-align: right;
    margin: 20px 0;
}

#summary > #ar-summary h2 {
    margin-right: 50px;
    vertical-align: middle;
    padding: 10px 20px;
    border: 3px solid #2E4159;
    border-radius: 40%;
    outline: 2px solid #7b5284;
    outline-offset: -10px;
    font-size: 1.25rem;
}

#summary #ar-summary img {
    width: 150px;
    height: 150px;
    margin-left: 25px;
    object-fit: cover;
    border: 5px solid #3a3a3a;
    border-radius: 50%;
}

/* ----- Detailed section ----- */

.detailed {
    width: 100%;
    height: 580px;
}

.detailed div img {
    width: 150px;
    height: 250px;
    object-fit: cover;
    margin: 100px 20px;
    border: 4px solid #3a3a3a;
    border-radius: 5px;
}

.header-detailed {
    display: block;
    height: 26.4px;
    width: 44px;
    margin: 20px auto;
    padding: 10px 20px;
    border: 3px solid #2E4159;
    border-radius: 40%;
    outline: 2px solid #7b5284;
    outline-offset: -10px;
    font-size: 1.25rem;
}

.detailed-container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}

.detailed-middle-section {
    text-align: center;
}

.iframe {
    margin: 20px;
    border: 0;
}


/* ----- Times and Dates ----- */


#meet-up {
    background: url("../images/pexels-miriam-espacio-110854(3).webp") center center / cover no-repeat;
    width: 100%;
    overflow: hidden;
}

#meet-up .days {
    color: #fafafa;
    background-color: #2E4159;
    opacity: .8; /* for opacity on hex https://stackoverflow.com/questions/52037809/add-alpha-channel-to-hex-color-declared-on-css-variable */
    width: 25%;
    height: 300px;
    float: left;
    padding: 80px 0 0 10px;
    text-align: center;
    border: 2px solid #fafafa;
    box-sizing: border-box;
}

#meet-up #meet-up-text {
    margin-top: 40px;
}

#meet-up #meet-up-text .meet-up-text {
    color: #fafafa;
    text-align: center;
    background-color: #2E4159;
    opacity: .8;
    width: 80%;
    margin: 20px auto;
    border: 2px solid #fafafa;
}
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_stacked_form for styling forms. 
Code for input[type=x] strictly copied and modified from this site */
#form {
    background-color: #2E4159;
    color: #fafafa;
    width: 300px;
    height: 330px;
    margin: 50px auto;
    border-radius: 5px;
    padding: 20px;
    border: 3px solid #3a3a3a;
    outline: 2px solid #7b5284;
    outline-offset: -10px;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    display: block;
    border: 1px solid #fafafa;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #7b5284;
    color: #fafafa;
    font-family: "Roboto Mono", sans-serif;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="checkbox" i] {
    margin: 3px 50px 3px 4px;
}

#submit-button {
    font-weight: bold;
}

/* ----- Footer ----- */

footer {
    width: 100%;
    height: 100px;
    background-color: #2E4159;
    padding-top: 50px;
}

footer > ul {
    text-align: center;
}

footer > ul > li {
    display: inline;
    font-size: 200%;
    margin: 0px 25px;
}

footer > ul > li > a {
    color: #fafafa;
}

#footer-hr {
    margin: 0px auto;
    border: 2px solid #7b5284;
    border-radius: 5px;
    outline: 2px solid #2E4159;
    outline-offset: 2px;
    width: 99.5%;
}

/* ----- Media Queries ----- */


/* Media query for screen size of max 1200px */

@media screen and (max-width: 1200px) {
    
    .detailed div img {
        display: none;
    }

    .detailed-middle-section {
        display: block;
        margin: 0px auto;
        text-align: center;
    }

}

/* Media query for screen size of max 1020px */

@media screen and (max-width: 1020px) {

    #navbar > #no-border {
        display: none; /* https://www.w3schools.com/Css/css3_mediaqueries_ex.asp for hiding img on media query */
    }

    #detailed-vr {
        height: 680px;
        }

    #detailed-ar {
        height: 620px;
    }

}

/* Media query for screen size of max 760px */

@media screen and (max-width: 760px) {

    #vr-summary, #mr-summary, #ar-summary {
        display: flex;
        margin: 100px auto;
    }

    #summary {
        height: 740px;
    }

    #meet-up .days {
        width: 50%;
    }

    .iframe {
        width: 448px;
        height: 252px;
    }

    .detailed {
        height: 620px;
    }


}

/* Media query for screen size of max 600px */

@media screen and (max-width: 600px) {

    #navbar {
        font-size: 0.8rem;  
    }

    #navbar > h1 {
        font-size: 1rem;
        margin-left: 10px;
    }

    #navbar > h1 {
        display: inline-block;
    }

    .iframe {
        width: 358.4px;
        height: 201.6px;
    }

    #welcome-heading {
        left: 50px;
        top: 250px;
    }
    
    #support-heading {
        left: 120px;
    }

    #summary {
        margin-left: 10px;
        margin-right: 10px;
        width: 90%;
    }

}


/* Media query for screen size of max 530px */

@media screen and (max-width: 530px) {


    nav li {
        margin-right: 25px;
    }

    #welcome-heading {
        left: 10px;
        top: 250px;
    }
    
    #support-heading {
        left: 80px;
    }

    #summary {
        height: 800px;
    }

    #vr-summary h2, #mr-summary h2, #ar-summary h2 {
        display: none;
    }

    .iframe {
        width: 286.72px;
        height: 161.28px;
    }

    #detailed-vr {
        height: 740px;
        }
    
}

/* Media query for screen size of max 375px */

@media screen and (max-width: 376px) {

    #navbar {
        font-size: 0.8rem;  
    }

    nav li {
        margin-right: 15px;
    }

    #navbar > h1 {
        font-size: 0.8rem;
        margin-left: 5px;
    }

    #summary {
        height: 900px;
    }

    #vr-summary, #ar-summary, #mr-summary {
        height: 200px;
    }

    .iframe {
        width: 229.376px;
        height: 129.024px;
    }

    #detailed-vr {
        height: 800px;
        }

    #detailed-ar {
        height: 680px;
        }

}

/* Media query for screen size of max 320px */

@media screen and (max-width: 321px) {

    #summary {
        height: 1100px;
    }

    #vr-summary, #ar-summary, #mr-summary {
        height: 280px;
    }

    #detailed-vr {
        height: 950px;
    }

    #detailed-ar, #detailed-mr {
        height: 750px;
    }

    #navbar > h1 {
        display: none;
    }

}